@import "tailwindcss";

/* ==========================  GLOBAL COLORS  ========================== */

@theme {
  --color-primary: oklch(64.6% 0.222 41.116);
  --color-primary-light: oklch(75% 0.183 55.934);
  --color-secondary: oklch(62.7% 0.194 149.214);
  --color-secondary-light: oklch(79.2% 0.209 151.711);
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
  --color-foreground-light: #575757;
  --color-box: rgba(0, 0, 0, 0.02);
  --color-stroke: #e5e7eb;
  --color-error: #dc2626;
  --color-success: #00a63e;
}

/* ==========================  BASE STYLES  ========================== */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-2xl lg:text-3xl;
  }
  h2 {
    @apply text-xl lg:text-2xl;
  }
  h3 {
    @apply text-lg lg:text-xl;
  }
  h4 {
    @apply text-base lg:text-lg;
  }
  h5 {
    @apply text-sm lg:text-base;
  }
  h6 {
    @apply text-xs lg:text-sm;
  }

  body {
    @apply font-normal text-xs lg:text-sm bg-background text-foreground;
  }
}

/* ==========================  COMPONENTS  ========================== */
@layer components {
  /* Buttons */
  .btn {
    @apply mt-3 py-2 px-6 rounded-full border-2 transition duration-200 ease-in-out cursor-pointer;
  }
  .btn.btn--primary {
    @apply bg-primary text-white hover:bg-background hover:text-primary border-transparent hover:border-primary;
  }

  .modify-btn {
    @apply text-foreground-light hover:text-primary transition-colors duration-200 ease-in-out cursor-pointer text-lg w-4 h-4 flex items-center justify-center;

    &.active {
      @apply text-primary;
    }
  }
  .modify-btn.modify-btn--hvr-red {
    @apply hover:text-error;
  }

  .input-btn {
    @apply absolute right-3 top-1/2 transform -translate-y-1/2 text-foreground-light hover:text-primary-light transition duration-200 ease-in-out cursor-pointer text-lg;
  }
  .input-btn.input-btn--icon {
    @apply h-8 w-16 border-stroke border-2 text-2xl rounded-md flex items-center justify-center right-1 hover:bg-primary/10 leading-0 hover:border-primary-light;
  }

  .vote-btn {
    @apply flex items-center overflow-x-clip justify-center gap-0.5 relative z-10 px-0.5 transition-colors duration-200 ease-in-out rounded-full h-6 w-10 cursor-pointer bg-transparent hover:bg-foreground/10;
    &.active {
      @apply bg-foreground/25;
    }
  }

  .btn-underline {
    @apply text-xs underline underline-offset-2 cursor-pointer hover:opacity-60 transition-opacity duration-200 flex items-center gap-1 text-foreground-light;
  }
  .btn-underline.btn-underline--error {
    @apply text-error;
  }
  .btn-underline.btn-underline--success {
    @apply text-success;
  }

  /* Inputs */
  .input {
    @apply py-2 px-4 border-2 text-gray-800 placeholder:text-foreground-light border-foreground-light rounded-full w-full;
  }
  .input.input--secondary {
    @apply rounded-md border-stroke;
  }

  /* Cards */
  .popup-sm--wrapper {
    @apply relative;
  }
  .popup-sm {
    @apply bg-foreground/20 px-2 py-1 rounded-md absolute bottom-[110%] right-0 opacity-0  text-background text-[10px] max-lg:hidden pointer-events-none transition-opacity duration-200 ease-in-out;
  }
  .popup-sm--wrapper:hover .popup-sm {
    @apply opacity-100;
  }
  .profile-img {
    @apply rounded-full w-8 h-8 object-cover bg-foreground/10 border border-foreground-light;
  }

  /* Decorations */
  .text-gradient {
    @apply text-transparent bg-gradient-to-r from-primary to-foreground bg-clip-text shrink-0;
  }
}

/* ==========================  EXTERNAL LIBRARIES  ========================== */

/* Lexkit richtext editor */
.lexkit-list-ul {
  @apply list-disc list-inside;
}
.lexkit-list-ol {
  @apply list-decimal list-inside;
}
.lexkit-text-bold {
  @apply font-bold;
}
.lexkit-text-italic {
  @apply italic;
}
