@import "tailwindcss";

/* Global colors */

@theme {
  --color-primary: #f54900;
  --color-secondary: #00a63e;
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
  --color-foreground-light: #99a1af;
  --color-box: rgba(0, 0, 0, 0.02);
  --color-stroke: #e5e7eb;
  --color-error: #dc2626;
  --color-success: #00a63e;
}

/* Apply styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1 {
  @apply text-2xl lg:text-3xl;
}
h2 {
  @apply text-xl lg:text-2xl;
}
h3 {
  @apply text-lg lg:text-xl;
}
h4 {
  @apply text-base lg:text-lg;
}
h5 {
  @apply text-sm lg:text-base;
}
h6 {
  @apply text-xs lg:text-sm;
}

body {
  @apply font-normal text-xs lg:text-sm bg-background text-foreground;
}

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-primary to-foreground bg-clip-text;
}

.icon-link {
  @apply text-foreground-light hover:text-primary transition-colors duration-200 ease-in-out cursor-pointer text-lg w-4 h-4 flex items-center justify-center;
}
.icon-link.icon-link--hvr-red {
  @apply hover:text-error;
}
